<div class="page">
  <div>
    <h5 class="page__title">Успішне виконання дії</h5>
    <div class="info">{{info}}</div>
  </div>
  <div class="page__block-right">
    <a href="/product-list" class="page__button">Повернутись назад</a>
  </div>
</div>