<main>
  <section>
    <div class="page">
      <h1 class="page__title">Список товарів</h1>
      <div class="page__content">
        {{> product-card data=productList}}
      </div>
    </div>
  </section>
</main>